{% extends "base.html" %} {% block title %}Register{% endblock %}

{% block content %}
    <form method = "POST">
        <br />
        <h1 align = "center">Register Your Boa</h1>
        <div class = "form-group">
            <label for = "boa_inital"> <h3>Name Your Boa</h3></label>
            <input 
                type = "boa_inital"
                class = "form-control"
                id = "boa_inital"
                placeholder = "Enter boa_name"
            />
        </div>
        <div class = "form-group">
            <label for = "boa_color"> <h3>Color Your Boa</h3></label>
            <input 
                type = "boa_color"
                class = "form-control"
                id = "boa_color"
                placeholder = "Enter boa_color"
            />
        </div>
        <div class = "form-group">
            <label for = "boa_size"> <h3>Size Your Boa</h3></label>
            <input 
                type = "boa_size"
                class = "form-control"
                id = "boa_size"
                placeholder = "Enter boa_size"
            />
        </div>
        <div class = "form-group">
            <label for = "boa_sequence1"> <h3>Sequnece Your Boa</h3></label>
            <input 
                type = "boa_sequence1"
                class = "form-control"
                id = "boa_sequence1"
                placeholder = "Enter boa_sequence"
            />
        </div>
        <div class = "form-group">
            <label for = "boa_sequence2"> <h3>Confirm The Sequnece Of Your Boa</h3></label>
            <input 
                type = "boa_sequence2"
                class = "form-control"
                id = "boa_sequence2"
                placeholder = "Confirm boa_sequence"
            />
        </div>
        <br />
        <button type = "submit" class = "btn btn-primary"><h8>Generate Boa</h8></button>
    </form>
{% endblock %}