{% extends "base.html" %} {% block title %}Register{% endblock %}

{% block content %}
    <form method = "POST">
        <br />
        <h1 align = "center">Register Your Boa</h1>
        <div class = "form-group">
            <label for = "boa-inital"> <h3>Name Your Boa</h3></label>
            <input 
                type = "boa-inital"
                class = "form-control"
                id = "boa-inital"
                placeholder = "Enter boa-name"
            />
        </div>
        <div class = "form-group">
            <label for = "boa-color"> <h3>Color Your Boa</h3></label>
            <input 
                type = "boa-color"
                class = "form-control"
                id = "boa-color"
                placeholder = "Enter boa-color"
            />
        </div>
        <div class = "form-group">
            <label for = "boa-size"> <h3>Size Your Boa</h3></label>
            <input 
                type = "boa-size"
                class = "form-control"
                id = "boa-size"
                placeholder = "Enter boa-size"
            />
        </div>
        <div class = "form-group">
            <label for = "boa-sequence"> <h3>Sequnece Your Boa</h3></label>
            <input 
                type = "boa-sequence"
                class = "form-control"
                id = "boa-sequence"
                placeholder = "Enter boa-sequence"
            />
        </div>
        <br />
        <button type = "submit" class = "btn btn-primary"><h8>Generate Boa</h8></button>
    </form>
{% endblock %}